.home-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    margin: 10px;
}

.rides-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}